<div class="full">
  <main class="main">
    <p id="notice"><%= notice %></p>

    <h1>Show Question: <%= @question.title %></h1>

    <p>
      <strong>Classroom:</strong>
      <%= @question.classroom.name %>
    </p>

    <p>
      <strong>Topic:</strong>
      <%= @question.topic.title %>
    </p>

    <p>
      <strong>Course:</strong>
      <%= @question.course.name %>
    </p>

    <p>
      <strong>Teacher:</strong>
      <%= @question.person.user_name %>
    </p>

    <p>
      <strong>Type:</strong>
      <%= @question.type %>
    </p>

    <p>
      <strong>Title:</strong>
      <%= @question.title %>
    </p>

    <p>
      <strong>Start date:</strong>
      <%= @question.start_date %>
    </p>

    <p>
      <strong>End date:</strong>
      <%= @question.end_date %>
    </p>

    <p>
      <strong>Posted date:</strong>
      <%= @question.posted_date %>
    </p>

    <p>
      <strong>Due date:</strong>
      <%= @question.due_date %>
    </p>

    <p>
      <strong>Graded:</strong>
      <%= @question.graded %>
    </p>

    <p>
      <strong>Points:</strong>
      <%= @question.points %>
    </p>

    <p>
      <strong>Instructions:</strong>
      <%= @question.instructions %>
    </p>

    <div class="actions">
      <%= link_to 'Questions', questions_path %> | <%= render :file => "./shared/_actions.html.erb" %><br/>
    </div>

  </main>
</div>