<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <h1>Show Announcement</h1>

    <p>
      <strong>Course:</strong><br/>
      <%= @announcement.course.name %>
    </p>

    <p>
      <strong>Teacher:</strong><br/>
      <%= @announcement.user.user_name %>
    </p>

    <p>
      <strong>Type:</strong><br/>
      <%= @announcement.type %>
    </p>

    <p>
      <strong>Title:</strong><br/>
      <%= @announcement.title %>
    </p>

    <p>
      <strong>Start date:</strong><br/>
      <%= @announcement.start_date %>
    </p>

    <p>
      <strong>End date:</strong><br/>
      <%= @announcement.end_date %>
    </p>

    <p>
      <strong>Posted date:</strong><br/>
      <%= @announcement.posted_date %>
    </p>

    <p>
      <strong>Due date:</strong><br/>
      <%= @announcement.due_date %>
    </p>

    <p>
      <strong>Graded:</strong><br/>
      <%= @announcement.graded %>
    </p>

    <p>
      <strong>Points:</strong><br/>
      <%= @announcement.points %>
    </p>

    <p>
      <strong>Instructions:</strong><br/>
      <%= @announcement.instructions %>
    </p>
    <div class="actions">
      <%= link_to  'Announcements', announcements_path %> | <%= render :file => "./shared/_actions.html.erb" %><br />
    </div>
  </main>
</div>