<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <h1>Show Announcement</h1>

    <p>
      <strong>Course:</strong><br/>
      <%= @announcement.course.name %>
    </p>

    <p>
      <strong>Teacher:</strong><br/>
      <%= @announcement.user.user_name %>
    </p>

    <p>
      <strong>Type:</strong><br/>
      <%= @announcement.type %>
    </p>

    <p>
      <strong>Title:</strong><br/>
      <%= @announcement.title %>
    </p>

    <p>
      <strong>Posted date:</strong><br/>
      <%= @announcement.posted_date %>
    </p>

    <p>
      <strong>Due date:</strong><br/>
      <%= @announcement.due_date %>
    </p>

    <p>
      <strong>Graded:</strong><br/>
      <%= @announcement.graded %>
    </p>

    <p>
      <strong>Points:</strong><br/>
      <%= @announcement.points %>
    </p>

    <p>
      <strong>Instructions:</strong><br/>
      <%= @announcement.instructions %>
    </p>

    <p>
      <strong>Questions:</strong><br/>
      <%if !@announcement.questions.empty? %>
        <% @announcement.questions.each do |question| %>
          <%= link_to question.content, response_path(question) %><br/>
        <% end %>
      <%else%>
        No questions
      <%end%>
    </p>
    
    <div class="actions">
      <%= link_to 'Edit', edit_announcement_path(@announcement) %> | 
      <%= link_to 'Ask Question', questions_announcement_new_path(@announcement) %> |
      <%= render :partial => "actions" %><br />
    </div>
  </main>
</div>