<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <h1>Show Assignment</h1>

    <p>
      <strong>Course:</strong><br/>
      <%= @assignment.course.name %>
    </p>

    <p>
      <strong>Teacher:</strong><br/>
      <%= @assignment.user.user_name %>
    </p>

    <p>
      <strong>Type:</strong><br/>
      <%= @assignment.type %>
    </p>

    <p>
      <strong>Title:</strong><br/>
      <%= @assignment.title %>
    </p>

    <p>
      <strong>Posted date:</strong><br/>
      <%= @assignment.posted_date %>
    </p>

    <p>
      <strong>Due date:</strong><br/>
      <%= @assignment.due_date %>
    </p>

    <p>
      <strong>Graded:</strong><br/>
      <%= @assignment.graded %>
    </p>

    <p>
      <strong>Points:</strong><br/>
      <%= @assignment.points %>
    </p>

    <p>
      <strong>Instructions:</strong><br/>
      <%= @assignment.instructions %>
    </p>

    <div class="actions">
      <%= link_to 'Edit', edit_assignment_path(@assignment) %> | 
      <%= link_to 'Complete Assignment', completed_assignments_assignment_new_path(@assignment) %> |
      <%= render :partial => "actions" %><br />
    </div>
  </main>
</div>