<div class="full">
    <main class="main">
  
      <p id="notice"><%= notice %></p>
      <div class="parent_info">
        <h1>New comment</h1>
        <div>for the <strong>course</strong>: <%= @course.name %></div>
        <div>by the <strong>student</strong>: <%= current_user.user_name %></div>
      </div>

      <% if @comment && @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this course from being saved:</h2>
        <ul>
          <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
  
      <div class="field">
        <label for="comment">My comment</label>
        <%= form_with url: "/courses/#{@course.id}/comments", local: true, model: @comment, method: "post" do |form| %>
          <%= form.hidden_field "[comment]course_id", value: @course.id %>
          <%= form.hidden_field "[comment]user_id", value: current_user.id %>
          <div id="comment"><%= text_area(:comment, :content, cols: 20, rows: 40) %></div>
            <div class="update-comment-wrapper">
            <div class="save-comment-wrapper">
                <%= submit_tag "Save comment"%>
            </div>
          </div>
        <% end %>
      </div>
  
    </main>
  </div>