<div class="full">
  <main class="main">
    <p id="notice"><%= notice %></p>
    <h1>Login</h1>
    <% if @person && @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= form_with url: "/post_login", model: @person, local: true, method: "get" do |form| %>

    <%= form.hidden_field :type, :value => 'Person'%>

    <div class="field">
      <%= form.label :user_name %>
      <%= form.text_field :user_name %>
    </div>

    <div class="field">
      <%= form.label :password %>
      <%= form.text_field :password %>
    </div>

    <div class="actions">
      <%= submit_tag "Login" %>
    </div>

    xxxx
    <% end %>

    <div class="actions">
      <%= link_to 'Teachers', teachers_path %> | <%= render :file => "./shared/_actions.html.erb" %><br />
    </div>
  </main>
</div>