<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <% if @person.type == "Student" %>
      <h1>Show Student</h1>
    <% else %>
      <h1>Show Teacher</h1>
    <% end %>

    <div class="field">
      <div class='avatar-wrapper'>
        <div class='avatar-container'>
          <%= cl_image_tag(@person.avatar.url)  %>
        </div>
      </div>
    </div>

    <p>
      <strong>User name:</strong><br/>
      <%= @person.user_name %>
    </p>

    <p>
      <strong>First name:</strong><br/>
      <%= @person.first_name %>
    </p>

    <p>
      <strong>Last name:</strong><br/>
      <%= @person.last_name %>
    </p>

    <p>
      <strong>Email:</strong><br/>
      <%= @person.email %>
    </p>

    <p>
      <strong>Courses:</strong><br/>
      <%if(@person.courses.count > 0)%>
        <% @person.courses.each do |course| %>
          <%=link_to course.name, course_path(course)%> < <%=link_to "Withdraw", course_person_path(course, @person) %><br/>
        <% end %>
      <%else%>
      No courses
      <%end%>
    </p>

    <div class="actions">
      
      <% if @person.type == "Student" %>
        <%= link_to 'Students', students_path %> | <%= render :file => "./shared/_actions.html.erb" %><br />
      <% else %>
        <%= link_to 'Teachers', teachers_path %> | <%= render :file => "./shared/_actions.html.erb" %><br />
      <% end %>
      
    </div>

  </main>
</div>