<%= form_with(model: interaction, local: true) do |form| %>
  <% if interaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interaction.errors.count, "error") %> prohibited this interaction from being saved:</h2>

      <ul>
        <% interaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :classroom_id %>
    <%= collection_select(:course, :classroom_id, Classroom.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :course_id %>
    <%= collection_select(:course, :course_id, Course.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :topic_id %>
    <%= collection_select(:topic, :topic_id, Topic.all, :id, :title) %>
  </div>

  <div class="field">
    <%= form.label :teacher_id %>
    <%= collection_select(:teacher, :teacher_id, Teacher.all, :id, :user_name) %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= collection_select(:type, :type_id, Type.all, :id, :title) %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field date-select">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field date-select">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>
 
  <div class="field date-select">
    <%= form.label :posted_date %>
    <%= form.date_select :posted_date %>
  </div>

  <div class="field date-select">
    <%= form.label :due_date %>
    <%= form.date_select :due_date %>
  </div>

  <div class="field graded">
    <%= form.label :graded %>
    <%= form.check_box :graded %>
  </div>

  <div class="field">
    <%= form.label :points %>
    <%= form.number_field :points %>
  </div>

  <div class="field">
    <%= form.label :instructions %>
    <%= form.text_field :instructions %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
