<div class="full">
  <main class="main">
    <p id="notice"><%= notice %></p>
    
    <%= render :partial => 'interaction_parent_info', locals: { interaction: @interaction } %>

    <% if @interaction && @interaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interaction.errors.count, "error") %> prohibited this interaction from being saved:</h2>

      <ul>
        <% @interaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= form_with url: "/interactions/#{@interaction.id}", model: @interaction, local: true, method: "patch" do |form| %>

    <%= form.hidden_field :type, value: @interaction.type %>

    <%= form.hidden_field :id, value: @interaction.id %>

    <%= form.hidden_field :course_id, value: @interaction.course.id %>

    <%= form.hidden_field :user_id, value: @interaction.user.id %>
    
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <% if @interaction.type != 'Announcement' %>

    <div class="field date-select">
      <%= form.label :due_date %>
      <%= form.date_select :due_date %>
    </div>

    <div class="field graded">
      <%= form.label :graded %>
      <%= form.check_box :graded %>
    </div>

    <div class="field points">
      <%= form.label :points %>
      <%= form.number_field :points %>
    </div>

    <div class="field">
      <%= form.label :instructions %>
      <%= text_area(:interaction, :instructions, cols: 20, rows: 40) %>
    </div>
    <% end %>

    <%if !@interaction.responses.empty? %>
    <div class="field">
      <%= form.label @interaction.responses_type %>
      <% @interaction.responses.each do |response| %>
        <div><%= response.content + " - " if response.type == "Question" %><%= link_to response.user.user_name, user_path(response.user) %> on <%= link_to response.created_at.strftime("%m/%d/%Y"), response_path(response) %></div>  
      <% end %>
    </div>
    <% end %>

    <div class="actions">
      <%= form.submit %>
    </div>

    <% end %>

    <div class="actions"><%= link_to 'Interactions', interactions_path %> | <%= render :partial => "actions" %><br />
    </div>
  </main>
</div>