<div class="full">
  <main class="main">
    <h1><%= @index_title ? @index_title : "Interactions" =%></h1>
    <p id="notice"><%= notice %></p>
    <% if !@interactions.empty? %>
    <table>
      
      <thead>
        <tr>
          <th>Course</th>
          <th>Title</th>
          <% if @interactions.first.type != 'Announcement' %>
          <th>Due date</th>
          <th>Graded</th>
          <th>Points</th>
          <th>Completed Assts</th>
          <% else %>
          <th>Questions</th>
          <% end %>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @interactions.each do |interaction| %>
        <tr>
          <td><%= link_to interaction.course.name, course_path(interaction.course) %></td>
          <td><%= link_to interaction.title, interaction_path(interaction) %></td>
          <% if interaction.type != 'Announcement' %>
          <td><%= interaction.due_date %></td>
          <td><%= interaction.graded %></td>
          <td><%= interaction.points %></td>
          <% end %>
          <td><%= interaction.responses.count %></td>
          <td><%= link_to 'Edit', edit_interaction_path(interaction) %></td>
          <td><%= link_to 'Destroy', interaction_path(interaction), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
    <%= render :partial => "chirp" %>
    <% end %>
    <div class="actions">
      <%= render :partial => "actions" %><br />
    </div>
  </main>
</div>
