<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <%= render :partial => 'interaction_parent_info', locals: { interaction: @interaction } %>

    <div class="field">
      <label for="title">Title</label>
      <div id="title"><%= @interaction.title %></div>
    </div>

    <% if @interaction.type != "Announcement" %>
    <div class="field">
      <label for="due_date">Due Date</label>
      <div id="due_date"><%= @interaction.due_date %></div>
    </div>

    <div class="field">
      <label for="graded">Graded</label>
      <div id="graded"><%= @interaction.graded %></div>
    </div>

    <div class="field">
      <label for="points">Points</label>
      <div id="points"><%= @interaction.points %></div>
    </div>

    <div class="field">
      <label for="instructions">Instructions</label>
      <div id="instructions"><%= @interaction.instructions %></div>
    </div>
    <% end %>

    <% if logged_in? && is_teacher_of?(@interaction.course) %>
    <div class="field">
      <label for="<%= @interaction.responses_type %>"><%= @interaction.responses_type %></label>
      <% if !@interaction.responses.empty? %>
      <div id="<%= @interaction.responses_type %>">
        <% @interaction.responses.each do |response| %>
          <div><%= response.content + " - " if response.type == "Question" %><%= link_to response.user.user_name, user_path(response.user) %> on <%= link_to response.created_at.strftime("%m/%d/%Y"), response_path(response) %></div>
        <% end %>
      </div>
      <% else %>
      <%= render :partial => "none" %>
      <% end %>
    </div>
    <% end %>

    <% if logged_in? %>
    <div class="actions">
      <% if is_teacher_of?(@interaction.course) %>
        <%= link_to "Edit #{@interaction.type.downcase}", edit_interaction_path(@interaction) %> | <%= link_to "Delete #{@interaction.type.downcase}" , interaction_path(@interaction), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>

      <!-- TODO: simplify this -->
      <% if is_enrolled_in?(@interaction.course) && !CompletedAssignment.all.find_by(interaction: @interaction, user: current_user) %>
        <%= link_to @interaction.type == 'Announcement' ? "Ask question" : "Complete assignment", @interaction.type == 'Announcement' ? questions_announcement_new_path(@interaction) : completed_assignments_assignment_new_path(@interaction) %>
      <% end %>

    </div>
    <% end %>
  </main>
</div>