<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <h1>Editing Student</h1>

    <% if @student && @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= form_with url: "/students/#{@student.id}", model: @student, local: true, method: "patch" do |form| %>

    <%= form.hidden_field :type, :value => 'Student'%>

    <%= form.hidden_field :id, :value => @student.id%>

    <div class="field">
      <strong><%= form.label :avatar %>:</strong>
      <div class='avatar-container'>
        <%= cl_image_tag(@student.avatar.url)  %>
      </div>
      <a href="/people/<%=@student.id%>/randomize_avatar">randomize</a>
    </div>

    <div class="field">
      <strong><%= form.label :user_name %>:</strong>
      <%= form.text_field :user_name %>
    </div>

    <div class="field">
      <strong><%= form.label :password_digest %>:</strong>
      <%= form.text_field :password_digest %>
    </div>

    <div class="field">
      <strong><%= form.label :first_name %>:</strong>
      <%= form.text_field :first_name %>
    </div>

    <div class="field">
      <strong><%= form.label :last_name %>:</strong>
      <%= form.text_field :last_name %>
    </div>

    <div class="field">
      <strong><%= form.label :email %>:</strong>
      <%= form.text_field :email %>
    </div>

    <div class="field">
      <strong><%= form.label :type %>:</strong>
      <%= form.text_field :type, disabled: true %>
    </div>

    <div class="field">
      <strong><%= form.label :Courses %>:</strong>
      <%if(@student.courses.count > 0)%>
        <% @student.courses.each do |course| %>
          <div><%=link_to course.name, course_path(course)%> < <%=link_to "Withdraw", course_person_path(course,@student) %></div>
        <% end %>
      <%else%>
        Not enrolled in any courses
      <%end%>
    </div>

    <div class="field">
      <strong>Join Course (enter course code):</strong>
      <%= form.text_field :course_code %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>

    <% end %>

    <div class="actions">
      <%= link_to 'Students', students_path %> | <%= render :file => "./shared/_actions.html.erb" %><br />
    </div>

  </main>
</div>