<div class="full">
  <main class="main">
    <h1>Sign up</h1>
    <% if @student && @student.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

        <ul>
          <% @student.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <%= render 'form', student: @student %>

    <div class="actions">
      <%= link_to 'Students', students_path %> | <%= render :file => "./shared/_actions.html.erb" %><br/>
    </div>
  </main>
</div>