<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <h1>Show Student: <%= @student.user_name %></h1>

    <p>
      <strong>User name:</strong><br/>
      <%= @student.user_name %>
    </p>

    <p>
      <strong>Type:</strong><br/>
      <%= @student.type %>
    </p>

    <p>
      <strong>Password digest:</strong><br/>
      <%= @student.password_digest %>
    </p>

    <p>
      <strong>First name:</strong><br/>
      <%= @student.first_name %>
    </p>

    <p>
      <strong>Last name:</strong><br/>
      <%= @student.last_name %>
    </p>

    <p>
      <strong>Email:</strong><br/>
      <%= @student.email %>
    </p>

    <p>
      <strong>Courses:</strong><br/>
      <%if(@student.courses.count > 0)%>
        <% @student.courses.each do |course| %>
          <%=link_to course.name, course_path(course)%> < <%=link_to "Withdraw", "../course_people/delete/#{course.id}" %><br/>
        <% end %>
      <%else%>
      Not enrolled in any courses
      <%end%>
    </p>

    <div class="actions">
      <%= link_to 'Students', students_path %> | <%= render :file => "./shared/_actions.html.erb" %><br />
    </div>

  </main>
</div>