<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <h1>Topics</h1>

    <table>
      <thead>
        <tr>
          <th>Classroom</th>
          <th>Course</th>
          <th>Topic</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @topics.each do |topic| %>
          <tr>
            <td><%= topic.course.classroom.name %></td>
            <td><%= topic.course.name %></td>
            <td><%= topic.title %></td>
            <td><%= link_to 'Show', topic %></td>
            <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
            <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="actions">
      <%= link_to 'New Topic', new_topic_path %> | <%= render :file => "./shared/_actions.html.erb" %><br/>
    </div>

  </main>
</div>
