<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <h1>Editing <%= @user.type %></h1>
    
    <% if @user && @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= form_with model: @user, local: true, method: "patch" do |form| %>
    <%= form.hidden_field :type, value: @user.type %>
    <%= form.hidden_field :id, :value => @user.id%>
    
    <div class="field">
      <div class='avatar-wrapper'>
        <div class='avatar-container'>
          <%= cl_image_tag(@user.avatar.url)  %>
        </div>
        <a href="/users/<%=@user.id%>/randomize_avatar">randomize</a>
      </div>
    </div>

    <div class="field">
      <%= form.label :user_name %>
      <%= form.text_field :user_name %>
    </div>

    <div class="field">
      <%= form.label :first_name %>
      <%= form.text_field :first_name %>
    </div>

    <div class="field">
      <%= form.label :last_name %>
      <%= form.text_field :last_name %>
    </div>

    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>

    <div class="field">
      <label for="courses"><%= @user.type == "Student" ? "Courses enrolled" : "Courses taught" %></label>
      <div id="courses">
        <% if !@user.courses.empty? %>
          <% @user.courses.each do |course| %>
            <div><%= link_to course.name, course_path(course)%> < <%= link_to 'Withdraw', courses_user_path(course, @user) %></div>
          <% end %>
        <% else %>
          <div>No courses</div>
        <% end %>
      </div>
    </div>

    <div class="field">
      <label for='code'><%= @user.type == 'Student' ? 'Enroll in' : 'Teach' %> course (enter course code)</label>
      <div id='code'>
        <%= form.text_field :code %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>

    <% end %>

    <div class="actions">
      <%= link_to @user.type.pluralize, @user.type == 'Student' ? students_path: teachers_path %> | <%= link_to 'Edit', edit_user_path %>
    </div>

  </main>
</div>