<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <% if @user.type == "Student" %>
    <h1>Editing Student</h1>
    <%else%>
    <h1>Editing Teacher</h1>
    <%end%>

    <% if @user && @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= form_with model: @user, local: true, method: "patch" do |form| %>
    
    <% if @user.type == "Student" %>
    <%= form.hidden_field :type, :value => 'Student'%>
    <%else%>
    <%= form.hidden_field :type, :value => 'Teacher'%>
    <%end%>

    <%= form.hidden_field :id, :value => @user.id%>
    
    <div class="field">
      <div class='avatar-wrapper'>
        <div class='avatar-container'>
          <%= cl_image_tag(@user.avatar.url)  %>
        </div>
        <a href="/users/<%=@user.id%>/randomize_avatar">randomize</a>
      </div>
    </div>

    <div class="field">
      <strong><%= form.label :user_name %></strong>
      <%= form.text_field :user_name %>
    </div>

    <div class="field">
      <strong><%= form.label :first_name %></strong>
      <%= form.text_field :first_name %>
    </div>

    <div class="field">
      <strong><%= form.label :last_name %></strong>
      <%= form.text_field :last_name %>
    </div>

    <div class="field">
      <strong><%= form.label :email %></strong>
      <%= form.text_field :email %>
    </div>

    <div class="field">
      <strong><%= form.label :Courses %></strong>
      <%if(@user.courses.count > 0)%>
        <% @user.courses.each do |course| %>
          <div><%=link_to course.name, course_path(course)%> < <%=link_to "Withdraw", course_user_path(course, @user) %></div>
        <% end %>
      <%else%>
        No courses
      <%end%>
    </div>

    <div class="field">
      <% if @user.type == "Student" %>
        <strong>Enroll in Course (enter course code)</strong>
      <%else%>
        <strong>Teach Course (enter course code)</strong>
      <%end%>
      <%= form.text_field :course_code %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>

    <% end %>

    <div class="actions">
      <% if @user.type == "Student" %>
        <%= link_to 'Students', students_path %> | <%= render :partial => "actions" %><br />
      <%else%>
        <%= link_to 'Teachers', teachers_path %> | <%= render :partial => "actions" %><br />
      <%end%>
    </div>

  </main>
</div>