<div class="full">
  <main class="main">
    <p id="notice"><%= notice %></p>
    <% if !@users.empty? %>

    <% if @course %>
    <div class="parent_info">
      <h1>Students</h1>
      <div>enrolled in the <strong>course</strong>: <%= link_to @course.name, course_path(@course) %></div>
    </div>
    <% else %>
    <div class="parent_info">
      <h1><%= @users.first.type.pluralize(@users.count) %></h1>
    </div>
    <% end %>
    
    <table>
      <thead>
        <tr>
          <th>Avatar</th>
          <th>User name</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th><%= @users.first.type == "Student" ? "Courses enrolled" : "Courses taught" %></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><div class='avatar-container-sm'><%= link_to cl_image_tag(user.avatar.url), user %></div></td>
          <td><%= link_to user.user_name, user %></td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
          <td>
          <% if !user.courses.empty? %>
            <% if user.type == "Student" %>
              <%= link_to user.courses.count, courses_for_student_path(user) %>
            <% else %>
              <%= link_to user.courses.count, courses_for_teacher_path(user) %>
            <% end %>
          <% else %>
            <%= user.courses.count %>
          <% end %>
        </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
    <%= render :partial => "none" %>
    <% end %>
  </main>
</div>