<div class="full">
  <main class="main">
    <p id="notice"><%= notice %></p>
    
    <% if @course %>
    <div class="parent_info">
      <h1>Students</h1>
      <div>enrolled in the <strong>course</strong>: <%= link_to @course.name, course_path(@course) %></div>
    </div>
    <% else %>
    <div class="parent_info">
      <h1><%= @users.first.type.pluralize(@users.count) %></h1>
    </div>
    <% end %>

    <div class='course-listing-wrapper'>
      <% if !@users.empty? %>
        <% @users.each do |user| %>
        <div class="course-listing-item">

          <div class="field">
            <div class='subject-wrapper'>
              <div class='subject-wrapper-sm'>
                <%= link_to cl_image_tag(user.avatar.url), user %>
              </div>
            </div>
          </div>

          <div class="field">
            <div id="name" class="course-listing-name"><%= link_to user.user_name, user %></div>
          </div>

          <div class="field">
            <div class="course-listing-desc"><em><%= user.first_name %> <%= user.last_name %></em></div>
          </div>

          <div class="course-listing-item-details">
            <ul>

              <!-- TODO: what is the best way? -->
              
              <!-- 1. This is the most simple. All these "ifs" though. ugh. -->
              
              <!-- <% if user.type == "Student" %>
                <label>Courses enrolled</label>
              <% else %>
                <label>Courses taught</label>
              <% end %>
              <% if !user.courses.empty? %>
                <% if user.type == "Student" %>
                  <%= link_to user.courses.count, courses_for_student_path(user) %>
                <% else %>
                  <%= link_to user.courses.count, courses_for_teacher_path(user) %>
                <% end %>
              <% else %>
                <%= user.courses.count %>
              <% end %> -->
              
              
              <!-- 2. Attempting to get to the least amount of lines.
                      Not using helper to write the link, not good. 
                      Relies on @courses_title being passed
                      -->
              
              <!-- <li>
                <label><%= @courses_title %></label>
                <% if !user.courses.empty? %>
                <a href="/<%= user.type.downcase.pluralize %>/<%= user.id %>/courses"><%= user.courses.count %></a>
                <% else %>
                  <%= user.courses.count %>
                <% end %>
              </li> -->
              

              <!-- 3. Use a partial with locals -->
              <!--  Looks nicer here in the view, but /views/application/_associated_courses.html.erb still iffy.
                    This doesn't lessen the number of lines of code
                    Is use of locals unnecessarily complex?
                    -->
              <li>
              <%= render :partial => 'associated_courses', locals: { user: user } %>
              </li>

              <% if logged_in? && !user.email.blank? %>
              <li>
                <label>Email</label>
                <%= mail_to user.email, user.email %>
              <li>
              <% end %>

            </ul>
          </div>
        </div>
        <% end %>
      <% else %>
        <%= render :partial => "none" %>
      <% end %>
    </div>
  </main>
</div>