<div class="full">
  <main class="main">
    <p id="notice"><%= notice %></p>
    <% if @users.count.zero? %>
    <div>Nothing to display</div>
    <div class="actions">
      <%= render :file => "./shared/_actions.html.erb" %><br />
    </div>
    <%else%>
    <h1><%= @users.first.type == "Student" ? "Students" : "Teachers" %></h1>
    <table>
      <thead>
        <tr>
          <th>Avatar</th>
          <th>User name</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Courses</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><div style="width: 35px;"><%= cl_image_tag(user.avatar.url)  %></div></td>
          <td><%= user.user_name %></td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
          <td><%= user.courses.count %></td>
          <td><%= link_to 'Show', user_path(user) %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="actions">
      <% if @users.first.type == "Student" %>
        <%= link_to 'New Student', new_student_path %>
      <% else %>
        <%= link_to 'New Teacher', new_teacher_path %>
      <% end %> | <%= render :file => "./shared/_actions.html.erb" %><br />
    </div>
    <%end%>
  </main>
</div>