<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <h1>Sign up</h1>

    <% if @user && @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <!-- https://stackoverflow.com/questions/808547/fully-custom-validation-error-message-with-rails -->
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= form_with url: "/users", model: @user, local: true, method: "post" do |form| %>

    <div class="field">
      <%= form.label :user_name %>
      <%= form.text_field :user_name %>
    </div>

    <div class="field">
      <%= form.label :password %>
      <%= form.text_field :password %>
    </div>

    <div class="field">
      <%= form.label :first_name %>
      <%= form.text_field :first_name %>
    </div>

    <div class="field">
      <%= form.label :last_name %>
      <%= form.text_field :last_name %>
    </div>

    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>

    <div class="field">
      <label for="email">Join Course (enter code)</label>
      <%= form.text_field :course_code %>
    </div>

    <div class="field">
      <label for="user_type">I am a ...</label>
      <%= collection_select(:user, :type, @users, :type, :type, include_blank: '-Please select-')%>
    </div>

    <div class="actions">
      <%= submit_tag "Sign up" %>
    </div>

    <% end %>

    <div class="actions">
      <%= link_to 'Courses', courses_path %> | <%= render :partial => "actions" %><br />
    </div>
  </main>
</div>