<div class="full">
    <main class="main">
  
      <p id="notice"><%= notice %></p>
  
      <h1>Show <%= @user.type %></h1>
      
      <div class="field">
        <div class='avatar-wrapper'>
          <div class='avatar-container'>
            <%= cl_image_tag(@user.avatar.url)  %>
          </div>
        </div>
      </div>
      
      <div class="field">
        <label for="user_name">User name</label>
        <div id="user_name"><%= @user.user_name %></div>
      </div>
      
      <div class="field">
        <label for="first_name">First name</label>
        <div id="first_name"><%= @user.first_name %></div>
      </div>

      <div class="field">
        <label for="last_name">Last name</label>
        <div id="last_name"><%= @user.last_name %></div>
      </div>

      <div class="field">
        <label for="email">Email</label>
        <div id="email"><%= @user.email %></div>
      </div>

      <div class="field">
        <label for="courses"><%= @user.type == "Student" ? "Courses enrolled" : "Courses taught" %></label>
        <% if !@user.courses.empty? %>
        <div id="courses">
          <% @user.courses.each do |course| %>
            <div><%= link_to course.name, course %> < <%=link_to @user.type == "Student" ? 'Withdraw' : 'Stop teaching', courses_user_path(course, @user) %></div>
          <% end %>
        </div>
        <% else %>
        <%= render :partial => "none" %>
        <% end %>
      </div>
      
      <% if @user.type == "Student" %>
      <div class="field">
        <label for="courses_commented_on">Courses commented on</label>
        <% if !@user.courses_commented_on.empty? %>
        <div id="courses_commented_on">
          <% @user.courses_commented_on.each do |course| %>
            <div><%= link_to course.name, course %></div>
          <% end %>
        </div>
        <% else %>
        <%= render :partial => "none" %>
        <% end %>
      </div>
      <% end %>

      <div class="actions">
        <%= link_to 'Edit', edit_user_path %> | 
        <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
  
    </main>
  </div>