<div class="full">
    <main class="main">
  
      <p id="notice"><%= notice %></p>
  
      <h1>Show <%= @user.type %></h1>
      
      <div class="field">
        <div class='avatar-wrapper'>
          <div class='avatar-container'>
            <%= cl_image_tag(@user.avatar.url)  %>
          </div>
        </div>
      </div>
      
      <div class="field">
        <label for="user_name">User name</label>
        <div id="user_name"><%= @user.user_name %></div>
      </div>
      
      <div class="field">
        <label for="first_name">First name</label>
        <div id="first_name"><%= @user.first_name %></div>
      </div>

      <div class="field">
        <label for="last_name">Last name</label>
        <div id="last_name"><%= @user.last_name %></div>
      </div>

      <% if logged_in? %>
      <div class="field">
        <label for="email">Email</label>
        <div id="email"><%= mail_to @user.email, @user.email %></div>
      </div>
      
      <div class="field">
        <label for="courses"><%= @user.type == "Student" ? "Courses enrolled" : "Courses taught" %></label>
        <% if !@user.courses.empty? %>
        <div id="courses">
          <% @user.courses.each do |course| %>
            <div><%= link_to course.name, course %><% if logged_in? && is_teacher_of?(course) || current_user == @user %> < <%=link_to @user.type == "Student" ? 'Withdraw' : 'Stop teaching', courses_user_path(course, @user) %><% end %></div>
          <% end %>
        </div>
        <% else %>
        <%= render :partial => "none" %>
        <% end %>
      </div>
      
      <% if @user.type == "Student" %>
      <div class="field">
        <label for="courses_completed_assignments">Completed assignments</label>
        <% if !@user.completed_assignments.empty? %>
        <div id="courses_completed_assignments">
          <% @user.completed_assignments.each do |completed_assignment| %>
            <div><%= link_to completed_assignment.interaction.course.name, completed_assignment.interaction.course %> - <%= link_to completed_assignment.interaction.title, completed_assignment.interaction %> on <%= link_to completed_assignment.updated_at.strftime("%m/%d/%Y"), completed_assignment %><%= completed_assignment.graded ? ' - graded' : ' - ungraded' %></div>
          <% end %>
        </div>
        <% else %>
        <%= render :partial => "none" %>
        <% end %>
      </div>
      <div class="field">
        <label for="courses_questions_asked">Questions</label>
        <% if !@user.questions.empty? %>
        <div id="courses_questions_asked">
          <% @user.questions.each do |question| %>
            <div><%= link_to question.interaction.course.name, question.interaction.course %> - <%= link_to question.content, question %> on <%= link_to question.updated_at.strftime("%m/%d/%Y"), question %></div>
          <% end %>
        </div>
        <% else %>
        <%= render :partial => "none" %>
        <% end %>
      </div>
      <div class="field">
        <label for="courses_commented_on">Courses commented on</label>
        <% if !@user.courses_commented_on.empty? %>
        <div id="courses_commented_on">
          <% @user.courses_commented_on.each do |course| %>
            <% course.comments.each do |comment| %>
            <% if comment.user == @user %>
            <div><%= link_to course.name, course %> - <%= link_to comment.content, course_path(comment.course) %> on <%= link_to comment.created_at.strftime("%m/%d/%Y"), course_path(comment.course) %></div>
            <% end %>
            <% end %>
          <% end %>
        </div>
        <% else %>
        <%= render :partial => "none" %>
        <% end %>
      </div>
      <% end %>
      <% end %>
      
      <% if is_teacher? || @user == current_user %>
      <div class="actions">
        <%= link_to "Edit #{@user.type.downcase}", edit_user_path %> | 
        <%= link_to "Delete #{@user.type.downcase}", @user, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <% end %>
  
    </main>
  </div>