<div class="full">
  <main class="main">

    <%= render :partial => 'response_parent_info', locals: { response: @response } %>

    <p id="notice"><%= notice %></p>

    <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
        <% @response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= form_with url: "/responses/#{@response.id}", model: @response, local: true, method: "patch" do |form| %>

    <%= form.hidden_field :id, :value => @response.id %>

    <%= form.hidden_field :type, :value => @response.type %>

    <%= form.hidden_field :interaction_id, :value => @response.interaction_id %>

    <%= form.hidden_field :user_id, :value => @response.user_id %>

    <% if @response.type != "Question" %>
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <% end %>

    <div class="field">
      <% if @response.type == "Question" %>
        <%= form.label :what_is_your_question? %>
        <textarea cols="20" rows="30" id="question" name="question[content]"><%= @response.content %></textarea>
      <% else %>
        <%= form.label :content %>
        <textarea cols="20" rows="30" id="completed_assignment" name="completed_assignment[content]"><%= @response.content %></textarea>
      <% end %>
    </div>
    
    <% if @response.type != "Question" %>
    <div class="field">
      <%= form.label :score %>
      <%= form.number_field :score, disabled: logged_in? %>
    </div>
    <div class="field">
      <%= form.label :letter_grade %>
      <%= form.text_field :letter_grade, disabled: logged_in? %>
    </div>
    <% end %>

    <div class="actions">
      <%= submit_tag "Save" %>
    </div>

    <% end %>

  </main>
</div>