<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <h1><%= @index_title ? @index_title : "Responses" =%></h1>

    <% if !@responses.empty? %>
    <table>
      <thead>
        <tr>
          <th>Course</th>
          <th><%= @responses.first.interaction.type %></th>
          <th>User</th>
          <th>Content</th>
          <% if @responses.first.type != "Question" %>
          <th>Score</th>
          <th>Letter grade</th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @responses.each_with_index do |response, index| %>
        <tr>
          <td><%= link_to response.interaction.course.name, course_path(response.interaction.course) %></td>
          <td><%= link_to response.interaction.title, interaction_path(response.interaction) %></td>
          <td><%= link_to response.user.user_name, user_path(response.user) %></td>
          <td><%= link_to response.content, response_path(response) %></td>  
          <% if @responses.first.type != "Question" %>
          <td><% if response.score %><%= response.score %><% end %></td>
          <td><% if response.letter_grade %><%= response.letter_grade %><% end %></td>
          <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
    <%= render :partial => "none" %>
    <% end %>
  </main>
</div>