<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <h1>Responses</h1>

    <table>
      <thead>
        <tr>
          <th>Interaction</th>
          <th>Student</th>
          <th>Type</th>
          <th>Content</th>
          <th>Score</th>
          <th>Letter grade</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @responses.each_with_index do |response, index| %>
        <tr>
          <td><%= response.interaction.title  %></td>
          <td><%= response.user.user_name %></td>
          <td><%= response.interaction.type %></td>
          <td><%= response.content %></td>
          <td><%= response.score %></td>
          <td><%= response.letter_grade %></td>

          <td><%= link_to 'Show', response_path(response) %></td>
          <td><%= link_to 'Edit', edit_response_path(response) %></td>
          <td><%= link_to 'Destroy', response_path(response), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>

        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="actions">
      <%= link_to 'New Response', new_response_path %> | <%= render :file => "./shared/_actions.html.erb" %><br />
    </div>

  </main>
</div>