<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <h1>New Response</h1>

    <% if @response && @response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
        <% @response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= form_with url: "/responses", model: @response, local: true, method: "post" do |form| %>

    <%= form.hidden_field :type, :value => 'Response'%>

    <div class="field">
      <%= form.label :interaction_id %>
      <%= collection_select(:response, :interaction_id, Interaction.all, :id, :title, include_blank: '-Please select-')%>
    </div>



    <%= form.hidden_field :type, :value => "Response" %>

    <div class="field">
      <%= form.label :content %>
      <%= form.text_field :content %>
    </div>

    <div class="field">
      <%= form.label :score %>
      <%= form.number_field :score %>
    </div>

    <div class="field">
      <%= form.label :letter_grade %>
      <%= form.text_field :letter_grade %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>

    <% end %>



    <div class="actions">
      <%= link_to 'Responses', responses_path %> | <%= render :file => "./shared/_actions.html.erb" %><br />
    </div>

  </main>
</div>