<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <%= render :partial => 'response_header', locals: { response: @response } %>

    <%= render :partial => 'parent_info', locals: { response: @response } %>

    <p>
      <strong><%=@response.interaction.type%>:</strong><br/>
      <%= @response.interaction.title %>
    </p>

    <p>
      <strong>Student:</strong><br/>
      <%= @response.user.user_name %>
    </p>

    <p>
      <% if @response.type == "Question" %>
      <strong>Question:</strong><br/>
      <% else %>
      <strong>Content:</strong><br/>
      <% end %>
      <%= @response.content %>
    </p>

    <% if !@response.type == "Question" %>
    <p>
      <strong>Score:</strong><br/>
      <%= @response.score %>
    </p>
    <p>
      <strong>Letter grade:</strong><br/>
      <%= @response.letter_grade %>
    </p>
    <% end %>
    
    <div class="actions">
      <%= 
      link_to 'Edit', edit_response_path(@response) %> | <%= render :partial => "actions" %><br />
    </div>

  </main>
</div>