<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <%= render :partial => 'response_parent_info', locals: { response: @response } %>

    <p>
    <strong><% if @response.type == "Question" %>Question:<% else %>Content:<% end %></strong><br/>
    <%= @response.content %>
    </p>
    
    <% if @response.type != "Question" %>
    <p>
      <strong>Turned in</strong><br/>
      <%= @response.created_at.strftime("%m/%d/%Y") %>
    </p>

    <p>
      <strong>Score</strong><br/>
      <%= @response.score %>
    </p>
    <p>
      <strong>Letter grade</strong><br/>
      <%= @response.letter_grade %>
    </p>
    <% end %>
    
    <div class="actions">
      <%= link_to 'Edit', edit_response_path(@response) %> | <%= render :partial => "actions" %><br />
    </div>

  </main>
</div>