<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <h1><%=@response.type%></h1>

    <%= render :partial => 'response_parent_info', locals: { response: @response } %>

    <% if @response.type == "Question" %>
    <div><strong>Question:</strong></div>
    <% else %>
    <div>Content:</strong></div>
    <% end %>
    
    <div><%= @response.content %> - <%= link_to @response.user.user_name, student_path(@response.user) %> (<%= @response.created_at.strftime("%m/%d/%Y") %>)</div>
    
    <% if !@response.type == "Question" %>
    <p>
      <strong>Score:</strong><br/>
      <%= @response.score %>
    </p>
    <p>
      <strong>Letter grade:</strong><br/>
      <%= @response.letter_grade %>
    </p>
    <% end %>
    
    <div class="actions">
      <%= link_to 'Edit', edit_response_path(@response) %> | <%= render :partial => "actions" %><br />
    </div>

  </main>
</div>