<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <h1>Show Response: <%= @response.content %></h1>

    <p>
      <strong>Interaction:</strong>
      <%= @response.interaction.title %>
    </p>

    <p>
      <strong>Student:</strong>
      <%= @response.person.user_name %>
    </p>

    <p>
      <strong>Type:</strong>
      <%= @response.type %>
    </p>

    <p>
      <strong>Content:</strong>
      <%= @response.content %>
    </p>

    <p>
      <strong>Score:</strong>
      <%= @response.score %>
    </p>

    <p>
      <strong>Letter grade:</strong>
      <%= @response.letter_grade %>
    </p>

    <div class="actions">
      <%= link_to 'Responses', responses_path %> | <%= render :file => "./shared/_actions.html.erb" %><br />
    </div>

  </main>
</div>