<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <%= render :partial => 'response_parent_info', locals: { response: @response } %>

    <div class="field">
      <label for="instructions"><%= @response.type == "Question" ? "Question" : "Content" %></label>
      <div id="instructions"><%= @response.content %></div>
    </div>

    <% if @response.type != "Question" %>

    <div class="field">
      <label for="completed_date">Completed date</label>
      <div id="completed_date"><%= @response.created_at.strftime("%m/%d/%Y") %></div>
    </div>

    <div class="field">
      <label for="score">Score</label>
      <div id="score"><%= @response.score %></div>
    </div>

    <div class="field">
      <label for="letter_grade">Letter grade</label>
      <div id="letter_grade"><%= @response.letter_grade %></div>
    </div>

    <% end %>
    
    <div class="actions">
      <%= link_to 'Edit', edit_response_path(@response) %>
    </div>

  </main>
</div>