<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <%= render :partial => 'response_parent_info', locals: { response: @response } %>

    <% if @response.type != "Question" %>
    <div class="field">
      <label for="title">Title</label>
      <div id="title"><%= @response.title %></div>
    </div>
    <% end %>

    <div class="field">
      <label for="content"><%= @response.type == "Question" ? "Question" : "Content" %></label>
      <div id="content"><%= @response.content %></div>
    </div>

    <% if @response.type != "Question" %>
    <div class="field">
      <label for="completed_date">Completed date</label>
      <div id="completed_date"><%= @response.created_at.strftime("%m/%d/%Y") %></div>
    </div>

    <div class="field">
      <label for="score">Score</label>
      <div id="score"><%= @response.score %></div>
    </div>

    <div class="field">
      <label for="letter_grade">Letter grade</label>
      <div id="letter_grade"><%= @response.letter_grade %></div>
    </div>
    <% end %>
    <div class="actions">
    
    <% if logged_in? && is_owner_of?(@response) %>
      <% if !@response.graded %>
      <%= link_to "Edit #{@response.friendly_name}", edit_response_path(@response) %> | 
      <%= link_to "Delete #{@response.friendly_name}", response_path(@response), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    <% end %>

    <% if is_teacher_of?(@response.interaction.course) %>
      <% if @response.graded %>
      <%= link_to "Re-grade #{@response.friendly_name}", edit_response_path(@response) %>
      <% else %>
      <%= link_to "Grade #{@response.friendly_name}", edit_response_path(@response) %>
      <% end %>
    <% end %>
    </div>

  </main>
</div>