<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <h1>Editing Teacher</h1>

    <% if @teacher && @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>
      <ul>
        <% @teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= form_with url: "/teachers/#{@teacher.id}", model: @teacher, local: true, method: "patch" do |form| %>

    <%= form.hidden_field :type, :value => 'Teacher'%>

    <%= form.hidden_field :id, :value => @teacher.id%>

    <div class="field">
      <strong><%= form.label :user_name %>:</strong>
      <%= form.text_field :user_name %>
    </div>

    <div class="field">
      <strong><%= form.label :password_digest %>:</strong>
      <%= form.text_field :password_digest %>
    </div>

    <div class="field">
      <strong><%= form.label :first_name %>:</strong>
      <%= form.text_field :first_name %>
    </div>

    <div class="field">
      <strong><%= form.label :last_name %>:</strong>
      <%= form.text_field :last_name %>
    </div>

    <div class="field">
      <strong><%= form.label :email %>:</strong>
      <%= form.text_field :email %>
    </div>

    <div class="field">
      <strong><%= form.label :type %>:</strong>
      <%= form.text_field :type, disabled: true %>
    </div>

    <div class="field">
      <strong><%= form.label :Courses %>:</strong>
      <%if(@teacher.courses.count > 0)%>
        <% @teacher.courses.each do |course| %>
          <%=link_to course.name, course_path(course)%><br/>
        <% end %>
      <%else%>
        Not teaching any courses
      <%end%>
    </div>

    <div class="field">
      <strong>Teach Course (enter course code):</strong>
      <%= form.text_field :course_code %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>

    <% end %>

    <div class="actions">
      <%= link_to 'Teachers', teachers_path %> | <%= render :file => "./shared/_actions.html.erb" %><br />
    </div>

  </main>
</div>