<div class="full">
  <main class="main">
    <p id="notice"><%= notice %></p>

    <h1>Show Teacher: <%= @teacher.user_name %></h1>

    <p>
      <strong>User name:</strong>
      <%= @teacher.user_name %>
    </p>

    <p>
      <strong>Type:</strong>
      <%= @teacher.type %>
    </p>

    <p>
      <strong>Password digest:</strong>
      <%= @teacher.password_digest %>
    </p>

    <p>
      <strong>First name:</strong>
      <%= @teacher.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @teacher.last_name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @teacher.email %>
    </p>

    <div class="actions">
      <%= link_to 'Teachers', teachers_path %> | <%= render :file => "./shared/_actions.html.erb" %><br />
    </div>

  </main>
</div>