<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <h1>Show Teacher: <%= @teacher.user_name %></h1>

    <p>
      <strong>Avatar:</strong><br/>
      <div style="width: 100px;">
        <%= cl_image_tag(@teacher.avatar.url)  %>
      </div>
    </p>

    <p>
      <strong>User name:</strong><br/>
      <%= @teacher.user_name %>
    </p>

    <p>
      <strong>Type:</strong><br/>
      <%= @teacher.type %>
    </p>

    <p>
      <strong>Password digest:</strong><br/>
      <%= @teacher.password_digest %>
    </p>

    <p>
      <strong>First name:</strong><br/>
      <%= @teacher.first_name %>
    </p>

    <p>
      <strong>Last name:</strong><br/>
      <%= @teacher.last_name %>
    </p>

    <p>
      <strong>Email:</strong><br/>
      <%= @teacher.email %>
    </p>

    <p>
      <strong>Courses:</strong><br/>
      <%if(@teacher.courses.count > 0)%>
        <% @teacher.courses.each do |course| %>
          <%=link_to course.name, course_path(course)%> < <%=link_to "Withdraw", course_person_path(course, @teacher) %><br/>
        <% end %>
      <%else%>
      Not teaching any courses
      <%end%>
    </p>

    <div class="actions">
      <%= link_to 'Teachers', teachers_path %> | <%= render :file => "./shared/_actions.html.erb" %><br />
    </div>

  </main>
</div>