<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <h1>Show Teacher: <%= @teacher.user_name %></h1>

    <p>
      <strong>User name:</strong>
      <%= @teacher.user_name %>
    </p>

    <p>
      <strong>Type:</strong>
      <%= @teacher.type %>
    </p>

    <p>
      <strong>Password digest:</strong>
      <%= @teacher.password_digest %>
    </p>

    <p>
      <strong>First name:</strong>
      <%= @teacher.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @teacher.last_name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @teacher.email %>
    </p>

    <br/>

    <p>
      <strong>Courses:</strong>
    </p>

    <%if(@teacher.courses.count > 0)%>
    <p>
      <% @teacher.courses.each do |course| %>
        <%=link_to course.name, course_path(course)%><br/>
      <% end %>
    </p>
    <%else%>
    <p>No courses taught</p>
    <%end%>

    <div class="actions">
      <%= link_to 'Teachers', teachers_path %> | <%= render :file => "./shared/_actions.html.erb" %><br />
    </div>

  </main>
</div>