<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <h1>Teacher</h1>
    <p>
      <strong>User name:</strong>
      <%= @teacher.user_name %>
    </p>

    <p>
      <strong>Password digest:</strong>
      <%= @teacher.password_digest %>
    </p>

    <p>
      <strong>First name:</strong>
      <%= @teacher.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @teacher.last_name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @teacher.email %>
    </p>

    <div class="actions">
      <%= link_to 'Edit', edit_teacher_path(@teacher) %> |
      <%= link_to 'Back', teachers_path %>
    </div>
  </main>
  
</div>