<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <h1>Editing Course</h1>

    <% if @course && @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= form_with url: "/courses/#{@course.id}", model: @course, local: true, method: "patch" do |form| %>

    <%= form.hidden_field :type, :value => 'Course'%>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :code %>
      <%= form.text_field :code %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>

    <% end %>


    <div class="actions">
      <%= link_to 'Courses', course_path(@course) %> | <%= render :file => "./shared/_actions.html.erb" %><br />
    </div>

  </main>
</div>