<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <h1>Editing Course</h1>

    <% if @course && @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= form_with url: "/courses/#{@course.id}", model: @course, local: true, method: "patch" do |form| %>

    <%= form.hidden_field :type, :value => 'Course'%>

    <%= form.hidden_field :id, :value => @course.id%>
    <div class="field">
      <strong><%= form.label :name %>:</strong>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <strong><%= form.label :code %>:</strong>
      <%= form.text_field :code %>
    </div>
    
    <div class="field">
      <strong>Teachers:</strong>
      <%if(@course.teachers.count > 0)%>
        <% @course.teachers.each do |teacher| %>
          <div><%=link_to teacher.user_name, teacher_path(teacher)%> < <%=link_to "Withdraw", "/course_people/#{teacher.id}/#{@course.id}/destroy" %></div>
        <% end %>
      <%else%>
        No teachers
      <%end%>
    </div>

    <div class="field">
      <strong>Students:</strong>
      <%if(@course.students.count > 0)%>
        <% @course.students.each do |student| %>
          <div><%=link_to student.user_name, student_path(student)%> < <%=link_to "Withdraw", "/course_people/#{student.id}/#{@course.id}/destroy" %></div>
        <% end %>
      <%else%>
        No students
      <%end%>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>

    <% end %>


    <div class="actions">
      <%= link_to 'Courses', courses_path %> | <%= render :file => "./shared/_actions.html.erb" %><br />
    </div>

  </main>
</div>