<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <h1>Editing Course</h1>

    <% if @course && @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= form_with url: "/courses/#{@course.id}", model: @course, local: true, method: "patch" do |form| %>

    <%= form.hidden_field :type, :value => 'Course'%>

    <%= form.hidden_field :id, :value => @course.id%>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field course-tuition-cost">
      <%= form.label :tuition_cost %>
      <%= form.text_field :tuition_cost %>
    </div>

    <div class="field featured">
      <%= form.label :featured %>
      <%= check_box 'course', 'featured', {}, 'true', 'false' %>
    </div>
    
    <div class="field">
      <%= form.label :short_desc, "Short description" %>
      <%= form.text_field :short_desc %>
    </div>

    <div class="field">
      <%= form.label :long_desc, "Long description" %>
      <%= text_area(:course, :long_desc, cols: 20, rows: 40) %>
    </div>

    <div class="field">
      <label for="announcements">Announcements</label>
      <div id='announcements'>
        <% if !@course.announcements.empty? %>
          <% @course.announcements.each do |announcement| %>
            <div>Posted date: <%=announcement.created_at.strftime("%m/%d/%Y") %> - <%= link_to announcement.title, announcement_path(announcement)%> - <%= pluralize(announcement.questions.count, "question") %> asked</div>
          <% end %>
        <% else %>
          No announcements
        <% end %>
      </div>
    </div>

    <div class="field">
      <label for="assignments">Assignments</label>
      <div id='assignmentes'>
        <% if !@course.assignments.empty? %>
          <% @course.assignments.each do |assignment| %>
            <div>Due date: <%=assignment.due_date.strftime("%m/%d/%Y") %> - <%= link_to assignment.title, assignment_path(assignment)%> - <%= pluralize(assignment.completed_assignments.count, "assignment") %> completed</div>
          <% end %>
        <% else %>
          No assignments
        <% end %>
      </div>
    </div>

    <div class="field">
      <label for="teachers">Teachers</label>
      <div id="teachers">
        <% if !@course.teachers.empty? %>
          <% @course.teachers.each do |teacher| %>
            <div><%= link_to teacher.user_name, teacher_path(teacher)%> < <%= link_to "Withdraw", courses_user_path(@course,teacher) %></div>
          <% end %>
        <% else %>
          No teachers
        <% end %>
      </div>
    </div>

    <div class="field">
      <label for="students">Students</label>
      <div id='students'>
        <% if !@course.students.empty? %>
          <% @course.students.each do |student| %>
            <div><%= link_to student.user_name, student_path(student)%> < <%= link_to "Withdraw", courses_user_path(@course,student) %></div>
          <% end %>
        <% else %>
          No students
        <% end %>
      </div>
    </div>
    <div class="field">
      <label for="students">Student comments</label>
      <% if !@course.comments.empty? %>
        <%= form.fields_for :comments do |fc| %>
          <!-- https://apidock.com/rails/ActiveRecord/Persistence/becomes -->
          <!-- TODO better way? -->
          <% comment = fc.object.becomes(Comment) %>
          <div class="course-comments">  
            <div class="course-comment-content-wrapper">
            <% if comment.id.blank? %>
            <div class="course-add-new-comment">Add new comment:</div>
            <% else %>
            <div class="course-user">On <%= link_to comment.created_at.strftime("%m/%d/%Y"), edit_course_path(comment.course) %> <%= link_to comment.user.user_name, comment.user %> commented:</div>
            <% end %>
            <%= fc.hidden_field :id %>
            <%= fc.hidden_field :user_id %>
            <%= fc.hidden_field :course_id %>
            <%= fc.text_field :content %>
            </div>
            <div class="course-comment-delete">
              <% if !comment.id.blank? %>
              < <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
      <%= render :partial => "none" %>
      <% end %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>

    <% end %>

    <div class="actions">
      <%= link_to 'Courses', courses_path %> | 
      <%= link_to 'Add Announcement', announcements_course_new_path(@course) %> | 
      <%= link_to 'Add Assignment', assignments_course_new_path(@course) %>
    </div>

  </main>
</div>