<div class="full">
  <main class="main">
    <p id="notice"><%= notice %></p>

    <h1>Courses</h1>

    <div class='course-listing-wrapper'>
      <% if !@courses.empty? %>
      <% @courses.each do |course| %>
      <div class="course-listing-item<%= course.featured ? " course-listing-item-featured" : "" %>">
        
        <% if !course.teachers.empty? %>
        <div class="field">
          <div class='avatar-wrapper'>
            <div class='avatar-container-sm'>
              <%= link_to cl_image_tag(course.teachers.first.avatar.url), course %>
            </div>
          </div>
        </div>
        <% end %>
        
        <div class="field">
          <div id="name" class="course-listing-name"><%= link_to course.name, course %></div>
        </div>

        <div class="field">
          <div class="course-listing-desc"><em><%= course.short_desc %></em></div>
        </div>

        <div class="course-listing-item-details">
        <ul>
          <li><label>Tuition</label> <%= number_to_currency(course.tuition_cost) %></li>
          <li><label>Announcements</label> <%= course.announcements.count %></li>
          <li><label>Questions</label> <%= course.questions.count %></li>
          <li><label>Assignments</label> <%= course.assignments.count %></li>
          <li><label>Completed Assignments</label> <%= course.completed_assignments.count %></li>
          <li><label>Teacher count</label> <%= course.teachers.count %></li>
          <li><label>Students enrolled</label> <%= course.students.count %></li>
          <li class="course-listing-code">Code: <%= course.code %></li>
        </ul>
      </div>

      </div>
      <% end %>
      <% else %>
      <%= render :partial => "none" %>
      <% end %>
    </div>
    <div class="actions">
      <%= link_to 'All courses', courses_path %> | <%= link_to 'Featured courses', courses_featured_path %> | <%= link_to 'Free courses', courses_free_path %> | <%= link_to 'Featured/free courses', courses_featured_free_path %> | <%= link_to 'New course', new_course_path %>
    </div>

  </main>
</div>