<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <h1>Courses</h1>
    <% if !@courses.empty? %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Code</th>
          <th>Description</th>
          <th>Announcements</th>
          <th>Questions</th>
          <th>Assignments</th>
          <th>Completed&nbsp;Assts</th>
          <th>Teachers</th>
          <th>Students</th>
        </tr>
      </thead>

      <tbody>
        <% @courses.each do |course| %>
        <tr>
          <td><%= link_to course.name, course, class: course.featured ? "featured-course" : "" %></td>
          <td><%= course.code %></td>
          <td><%= course.short_desc %></td>
          <td><%= course.announcements.count %></td>
          <td><%= course.questions.count %></td>
          <td><%= course.assignments.count %></td>
          <td><%= course.completed_assignments.count %></td>
          <td><%= course.teachers.count %></td>
          <td><%= course.students.count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%else%>
    <%= render :partial => "none" %>
    <%end%>
    <div class="actions">
      <%= link_to 'New Course', new_course_path %>
    </div>

  </main>
</div>