<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <h1>Course: <%= @course.name %></h1>

    <div class="field">
      <label for="name">Name</label>
      <div id="name"><%= @course.name %></div>
    </div>

    <div class="field">
      <label for="code">Code</label>
      <div id="code"><%= @course.code %></div>
    </div>

    <div class="field">
      <label for="featured">Featured</label>
      <div id="featured"><%= @course.featured %></div>
    </div>

    <div class="field">
      <label for="short_desc">Short description</label>
      <div id="short_desc"><%= @course.short_desc %></div>
    </div>

    <div class="field">
      <label for="long_desc">Long description</label>
      <div id="long_desc"><%= @course.long_desc %></div>
    </div>
    
    <div class="field">
      <label for="teachers">Teachers</label>
      <%if !@course.teachers.empty? %>
        <div id="teachers">
        <% @course.teachers.each do |teacher| %>
          <div><%=link_to teacher.user_name, teacher_path(teacher)%> < <%=link_to "Withdraw", course_user_path(@course, teacher) %></div>
        <% end %>
        </div>
      <%else%>
        <%= render :partial => "chirp" %>
      <%end%>
    </div>

    <div class="field">
      <label for="students">Students</label>
      <%if !@course.students.empty? %>
        <div id="students">
        <% @course.students.each do |student| %>
          <div><%=link_to student.user_name, student%> < <%=link_to "Withdraw", course_user_path(@course, student) %></div>
        <% end %>
        </div>
      <%else%>
        <%= render :partial => "chirp" %>
      <%end%>
    </div>

    <div class="field">
      <label for="announcements">Announcements</label>
      <%if !@course.announcements.empty? %>
        <div id="announcements">
        <% @course.announcements.each do |announcement| %>
          <div>Posted date: <%= announcement.due_date %> - <%=link_to announcement.title, announcement_path(announcement)%></div>
        <% end %>
        </div>
      <%else%>
        <%= render :partial => "chirp" %>
      <%end%>
    </div>

    <div class="field">
      <label for="assignments">Assignments</label>
      <%if !@course.assignments.empty? %>
        <div id="assignments">
        <% @course.assignments.each do |assignment| %>
          <div>Due date: <%= assignment.due_date.strftime("%m/%d/%Y") %> - <%=link_to assignment.title, assignment_path(assignment)%></div>
        <% end %>
        </div>
      <%else%>
        <%= render :partial => "chirp" %>
      <%end%>
    </div>

    <div class="actions">
      <%= link_to 'Courses', courses_path %> | 
      <%= link_to 'Add Announcement', announcements_course_new_path(@course) %> | 
      <%= link_to 'Add Assignment', assignments_course_new_path(@course) %> | 
      <%= render :partial => "actions" %>
    </div>

  </main>
</div>