<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <h1>Show Course: <%= @course.name %></h1>

    <p>
      <strong>Name:</strong>
      <%= @course.name %>
    </p>

    <p>
      <strong>Code:</strong>
      <%= @course.code %>
    </p>
    <br/>

    <%if(@course.people.find_all{|person| person.type == "Teacher"}.count > 0)%>
    <p>
      <strong>Teachers:</strong>
      <br/>
      <% @course.people.find_all{|person| person.type == "Teacher"}.each do |teacher| %>
        <%=link_to teacher.user_name, teacher_path(teacher)%><br/>
      <% end %>
    </p>
    <br/>
    <%else%>
    <p><strong>No teachers</strong><br/></p>
    <%end%>

    <%if(@course.people.find_all{|person| person.type == "Teacher"}.count > 0)%>
    <p>
      <strong>Students:</strong>
      <br/>
      <% @course.people.find_all{|person| person.type == "Student"}.each do |student| %>
        <%=link_to student.user_name, student_path(student)%><br/>
      <% end %>
    </p>
    <%else%>
    <p><strong>No students</strong><br/></p>
    <%end%>

    <div class="actions">
      <%= link_to 'Courses', courses_path %> | <%= render :file => "./shared/_actions.html.erb" %><br />
    </div>

  </main>
</div>