<div class="full">
  <main class="main">

    <p id="notice"><%= notice %></p>

    <h1>Show Course</h1>

    <p>
      <strong>Name:</strong><br/>
      <%= @course.name %>
    </p>

    <p>
      <strong>Code:</strong><br/>
      <%= @course.code %>
    </p>

    <p>
      <strong>Featured:</strong><br/>
      <%= @course.featured %>
    </p>

    <p>
      <strong>Short description:</strong><br/>
      <%= @course.short_desc %>
    </p>

    <p>
      <strong>Long description:</strong><br/>
      <%= @course.long_desc %>
    </p>
    
    <p>
      <strong>Teachers:</strong>
      <br/>
      <%if(@course.teachers.count > 0)%>
        <% @course.teachers.each do |teacher| %>
          <%=link_to teacher.user_name, teacher_path(teacher)%> < <%=link_to "Withdraw", course_user_path(@course, teacher) %><br/>
        <% end %>
      <%else%>
        No teachers
      <%end%>
    </p>

    <p>
      <strong>Students:</strong>
      <br/>
      <%if(@course.students.count > 0)%>
        <% @course.students.each do |student| %>
          <%=link_to student.user_name, student_path(student)%> < <%=link_to "Withdraw", course_user_path(@course, student) %><br/>
        <% end %>
      <%else%>
        No students
      <%end%>
    </p>

    <div class="actions">
      <%= link_to 'Courses', courses_path %> | 
      <%= link_to 'Add Announcement', announcement_course_new_path(@course) %> | 
      <%= link_to 'Add Assignment', assignments_course_new_path(@course) %> | 
      <%= render :file => "./shared/_actions.html.erb" %>
    </div>

  </main>
</div>