<%= form_with(model: test, local: true) do |form| %>
  <% if test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
        <% test.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :classroom_id %>
    <%= collection_select(:course, :classroom_id, Classroom.all, :id, :name, :prompt => '-Select classroom-') %>
  </div>

  <div class="field">
    <%= form.label :course_id %>
    <%= collection_select(:course, :course_id, Course.all, :id, :name, :prompt => '-Select course-') %>
  </div>

  <div class="field">
    <%= form.label :topic_id %>
    <%= collection_select(:topic, :topic_id, Topic.all, :id, :title, :prompt => '-Select topic-') %>
  </div>

  <div class="field">
    <%= form.label :teacher_id %>
    <%= collection_select(:teacher, :teacher_id, Teacher.all, :id, :user_name, :prompt => '-Select teacher-') %>
  </div>

  <%= form.hidden_field :type, :value => 'Test'%>
  
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field date-select">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field date-select">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>
 
  <div class="field date-select">
    <%= form.label :posted_date %>
    <%= form.date_select :posted_date %>
  </div>

  <div class="field date-select">
    <%= form.label :due_date %>
    <%= form.date_select :due_date %>
  </div>

  <div class="field graded">
    <%= form.label :graded %>
    <%= form.check_box :graded %>
  </div>

  <div class="field">
    <%= form.label :points %>
    <%= form.number_field :points %>
  </div>

  <div class="field">
    <%= form.label :instructions %>
    <%= form.text_field :instructions %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
