<div class="full">
  <main class="main">
    <p id="notice"><%= notice %></p>

    <h1>Test: <%= @test.title %></h1>

    <p>
      <strong>Classroom:</strong>
      <%= @test.classroom.name %>
    </p>

    <p>
      <strong>Topic:</strong>
      <%= @test.topic.title %>
    </p>

    <p>
      <strong>Course:</strong>
      <%= @test.course.name %>
    </p>

    <p>
      <strong>Teacher:</strong>
      <%= @test.person.user_name %>
    </p>

    <p>
      <strong>Type:</strong>
      <%= @test.type %>
    </p>

    <p>
      <strong>Title:</strong>
      <%= @test.title %>
    </p>

    <p>
      <strong>Start date:</strong>
      <%= @test.start_date %>
    </p>

    <p>
      <strong>End date:</strong>
      <%= @test.end_date %>
    </p>

    <p>
      <strong>Posted date:</strong>
      <%= @test.posted_date %>
    </p>

    <p>
      <strong>Due date:</strong>
      <%= @test.due_date %>
    </p>

    <p>
      <strong>Graded:</strong>
      <%= @test.graded %>
    </p>

    <p>
      <strong>Points:</strong>
      <%= @test.points %>
    </p>

    <p>
      <strong>Instructions:</strong>
      <%= @test.instructions %>
    </p>

    <div class="actions">
      <%= link_to 'Tests', tests_path %> | <%= render :file => "./shared/_actions.html.erb" %><br/>
    </div>
    
  </main>
</div>