<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>SkillCraft</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../../../stylesheets/styles.css" />
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
</head>

<body>
    <header class="header">
        <div class="header-content">
            <div class="nav-wrapper">
                <div class="nav-logo">
                    <div class="nav-title">SkillCraft</div>
                </div>
                <div class="nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/courses">Courses</a></li>
                        <li><a href="/teachers">Teachers</a></li>
                        <li><a href="/students">Students</a></li>
                        <li><a href="/announcements">Announcements</a></li>
                        <li><a href="/assignments">Assignments</a></li>
                        <li><a href="/responses">Responses</a></li>
                        <% if logged_in? %>
                        <li><a href="/logout">Logout</a></li>
                        <% else %>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/signup">Signup</a></li>
                        <% end %>
                    </ul>
                </div>
            </div>
            <div class="header-welcome">
                <% if logged_in? %>
                    <% if is_student? %>
                        Welcome, <a href='students/<%=current_user.id%>'><%=current_user.user_name%></a>
                    <% else %>
                        Welcome, <a href='teachers/<%=current_user.id%>'><%=current_user.user_name%></a>
                    <% end %>
                <% else %>
                    &nbsp;
                <% end %>
            </div>
        </div>
    </header>
    <%= yield %>
    <footer class="footer">&copy;<%=Time.new.year%> SkillCraft</footer>
</body>

</html>