<div class="full">
  <main class="main">
    <div class="types-wrapper">
      <h1>Your Activity Feed</h1>
      <% if !@interactions.empty? %>
      <table>
        <thead></thead>
        <tbody>
          <% @interactions.each do |interaction| %>
          <tr>
            <td><%= interaction.activity_date.strftime("%m/%d/%Y") %></td>
            <td><%= link_to interaction.type == "Assignment" ? interaction.type + " due" : interaction.type, interaction %></td>
            <td><%= link_to interaction.course.name, course_path(interaction.course) %></td>
            <td><%= link_to interaction.title, interaction %></td>
            <td>
            <% if interaction.type == "Assignment" %>
              <% if interaction.turned_in?(current_user) %>
                <%= link_to 'Turned in', CompletedAssignment.all.find_by(user: current_user, interaction: interaction) %>
              <% else %>
                Not turned in
              <% end %>
            <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% else %>
      <%= render :partial => "none" %>
      <% end %>
    </div>
  </main>
</div>